---
import Github from "../../../public/icons/GithubIcon.astro";
---

<div class="absolute top-5 right-20">
  <div>
    <a href="https://github.com/ironmanu" target="_blank">
      <span
        class="flex items-center justify-center cursor-pointer w-8 h-8 bg-slate-800 dark:bg-slate-100 dark:hover:bg-slate-200 hover:bg-slate-600/80 rounded-full"
      >
        <Github />
      </span>
    </a>
  </div>
</div>
