---
import StarIcon from "../../../public/icons/StarIcon.astro";
---

<div>
  <a
    href="https://github.com/ironmanu/breezyUI"
    target="_blank"
    aria-label="See the BreezyUI repository in Github."
  >
    <p
      class="flex inline gap-1 bg-slate-800 rounded-md px-2 py-1 text-white text-sm"
    >
      <span
        class="flex items-center justify-center align-center cursor-pointer w-4 h-4 mt-0.5"
      >
        <StarIcon />
      </span> Star
    </p>
  </a>
</div>
