---
import Layout from "../layouts/Layout.astro";
import CardComponent from "../components/CardComponent.tsx";
import { buttons } from "@/consts/buttons";
---

<Layout title="BREEZY UI.">
  <main>
    <div class="mx-auto max-w-7xl px-6 py-5 sm:py-10 text-center lg:px-8">
      <div
        class="mx-auto sm:mt-5 grid grid-cols-2 gap-6 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-4 lg:gap-10"
      >
        {
          buttons.map((button) => (
            <CardComponent
              client:load
              name={button.name}
              text={button.text}
              classes={button.classes}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
