---
// Card.astro component

const { classes } = Astro.props;
const buttonId = `button-${Math.random().toString(36).substring(7)}`;

import CopyIcon from "../../public/icons/CopyIcon.svgn
---

<article
  class="rounded-2xl bg-indigo-100/80 dark:bg-gray-900/60 z-[1] mx-auto px-4 py-4 sm:h-72 aspect-square border border-indigo-400 dark:border-gray-300/40 shadow"
>
  <section class="relative">
    <button class="absolute top-0 right-0">
      <CopyIcon />
    </button>
  </section>
  <section class="items-center align-center h-full">
    <div class="flex items-center justify-center h-full">
      <button type="button" :id="buttonId" class={classes}> Click me </button>
    </div>
  </section>

  <script define:vars={{ buttonId }}>
    function copyElement(buttonId) {
      console.log(buttonId);
      const textToCopy = document.getElementById(buttonId)?.textContent;
      if (textToCopy) {
        navigator.clipboard
          .writeText(textToCopy)
          .then(() => {
            // Opcional: Mostrar una notificación de éxito
            console.log("Texto copiado al portapapeles:", textToCopy);
          })
          .catch((err) => {
            // Opcional: Manejar el error si no se puede copiar
            console.error("Error al copiar al portapapeles:", err);
          });
      }
    }

    const buttonToCopy = document.getElementById(buttonId);
    if (buttonToCopy) {
      buttonToCopy.addEventListener("click", copyElement);
    }
  </script>
</article>

<!-- <button
        class="transition-background inline-flex h-12 items-center justify-center rounded-md border border-gray-800 bg-gradient-to-r from-gray-100 via-[#c7d2fe] to-[#8678f9] bg-[length:200%_200%] bg-[0%_0%] px-6 font-medium text-gray-950 duration-500 hover:bg-[100%_200%] focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50"
      >
        Click Me
      </button> -->
<!-- <button class="
        group 
        relative 
        inline-flex 
        h-12 
        items-center 
        justify-center 
        rounded-md
        border 
        border-neutral-200 
        bg-transparent
        px-6 
        font-medium
        text-neutral-600 
        transition-all 
        duration-100 
        shadow-[5px_5px_rgb(82,82,82)]
        hover:translate-x-1
        hover:translate-y-1 
        hover:shadow-none
    ">
  Hover me
</button> -->
