---
import GithubButton from "./GithubButton.astro";
import Toggle from "./Toggle.astro";
---

<div class="px-6 py-12 sm:pt-20 sm:pb-5 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <Toggle />
    <GithubButton />

    <h2
      class="text-4xl font-semibold tracking-tight text-gray-800 dark:text-white sm:text-6xl"
    >
      Welcome to <span
        class="inline-flex animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-transparent"
        >Breezy UI.</span
      >
    </h2>
    <p class="mt-6 text-lg leading-8 dark:text-gray-300">
      A simple collection of elements to copy-paste for Tailwind applications.
    </p>
    <!-- <p class="mt-4 text-xl leading-8 dark:text-gray-400">
      Crafted with <span class="dark:text-white"> Astro and Tailwind. </span>
    </p> -->
  </div>
</div>
